<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eeeeee;">
    <a class="navbar-brand" href="/">ImgSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="btn btn-dark" href="/">Random <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>


<div class="container" style="max-width: 80%">

    <form class="m-4">
        <div class="form-row">
            <label for="queryId" class="col-form-label">Object Id</label>
            <div class="col-2">
                <input type="text" class="form-control" id="queryId"
                       name="query">
            </div>
            <label for="tags" class="col-form-label">Tags</label>
            <div class="col-4">
                <input type="text" class="form-control" id="tags"
                       name="tags" min="1" max="99" placeholder="space separated tags">
            </div>
            <label for="queryLimit" class="col-form-label">Limit</label>
            <div class="col-2">
                <input type="number" class="form-control" id="queryLimit"
                       name="limit" value="20" min="1" max="99">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <div class="d-flex flex-row flex-wrap">
        <div th:each="img : ${images}" class="card" style="max-width: 300px;">
            <div class="card-img-top media" th:attr="style=${{img.distance == 0}} ? 'border: 2px solid red'">
                <a th:href="'/?query=' + ${img.id}">
                    <figure class="figure">
                        <img class="img-fluid align-self-start figure-img" src="#" th:src="${img.imgUrl}"/>

                        <figcaption class="figure-caption">
                            <span th:text="${#numbers.formatDecimal(img.distance, 1, 2)}"></span>
                            <p th:if="${img.distance == 0}" th:text="'Input Query'">
                                _is_query_object
                            </p>
                        </figcaption>
                    </figure>
                </a>
                <div class="card-body media-body">
                    <h5 class="card-title" th:text="${img.title}">_title</h5>
                    <div class="card-text">
                        <a class="btn btn-primary" data-toggle="collapse" th:href="'#info-' + ${img.id}"
                           role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            Information
                        </a>
                        <div class="collapse" th:id="info- + ${img.id}">
                            <span th:each="tag : ${img.tags}" href="#" class="badge badge-secondary"
                                  style="margin-left: 2px;"
                                  th:text="${tag}">_tag
                            </span>
                            <table class="table" style="background-color: #eeeeee;">
                                <tr>
                                    <td class="text-right"><strong>Id</strong></td>
                                    <td th:text="${img.id}">_id</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
<script src="../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>